@import '../../../../../style/vars.scss';

.BuilderForm {
	display: flex;
	flex-direction: column;
	background-color: #0b0c26;
	padding: 0;
	
	&__fields {
		padding: 15px 20px 30px;

		.Spinner {
			width: 100%;
		}
	}

	&__fields {
		display: grid;
		grid-template-columns: 13fr 36fr 13fr;
		grid-template-rows: auto;
		gap: 20px;
	}

	&__button {
		width: 200px;
		margin-left: auto;

		@media (max-width: 768px) {
			width: 100%;
		}
	}
	
	&__field {
		display: flex;
		flex-direction: column;
		min-width: 0;
		
		&-header {
			display: flex;
			justify-content: space-between;
			column-gap: 10px;
			color: $lgrey;
			margin-bottom: 10px;
		}

		&-body {
			display: flex;
			flex-direction: column;
			flex-grow: 1;
			row-gap: 15px;

			& > div {
				height: 100%;
			}

			& > .Spinner {
				height: 41.5px;
			}
		}
		
		&-tip {
			font-size: 13px;
			color: $grey;
			transform: translateY(-2px);
		}

		&-empty-row {
			display: flex;
			align-items: center;
			height: 42px!important;
			flex-shrink: 0;
		}
	}

	@media (max-width: 1600px) {
		&__fields {
			grid-template-columns: 4fr 9fr 4fr;
		}
	}

	@media (max-width: 1400px) {
		&__fields {
			grid-template-columns: 4fr 7fr 4fr;
		}
	}

	@media (max-width: 1300px) {
		&__fields {
			grid-template-columns: 4fr 9fr 4fr;
		}
	}

	@media (max-width: 992px) {
		&__fields {
			grid-template-columns: 4fr 5fr 4fr;
		}
		
		&__field {
			&_strike {
				grid-column: 2/4;
			}
			
			&_collateral {
				grid-column: 2/3;
			}
		}
	}

	@media (max-width: 768px) {
		&__fields {
			grid-template-columns: 1fr 2fr;
		}
		
		&__field {
			&_strategy {
				grid-column: 1/3;
				grid-row: 1/2;
			}
			
			&_date, &_strike, &_collateral {
				display: none;
			}

			&-header {
				margin-bottom: 8px;
			}
		}
	}

	@media (max-width: 480px) {
		&__fields {
			display: flex;
			flex-direction: column;
			row-gap: 10px;
		}

		&__field {
			&-head {
				margin-bottom: 8px;
			}
			
			&-body {
				row-gap: 10px;
			}

			&_amount {
				.Input {
					padding: 10px 12px;
				}
			}
		}
	}
}