@import '../../../../../../style/vars.scss';


.ClosePositionModal {
	width: 400px;
	padding: 0;

	&__body {
		padding: 20px 30px 13px;

		.InputComplexNumeric {
			margin-top: 15px;
			margin-bottom: 7px;
		}
	}

	&__footer {
		border-top: $border;
		background-color: $blue-4;
		padding: 15px 30px 30px;

		.info-row {
			font-size: 15px;
			margin: 0;

			&__title {
				color: $lgrey;
			}
		}
	}
	
	.Button {
		margin-top: 15px;
	}

	@media (max-width: 480px) {
		&__body {
			padding: 15px 20px;
		}

		&__footer {
			padding: 15px 20px 20px;
		}
	}

	@media (max-width: 440px) {
		width: calc(100% - 40px);
	}
}