@import '../../../style/vars.scss';

.ReactModal {
	&__Overlay {
		position: fixed;
		z-index: 900;
		inset: 0;
		background-color: $modal-overlay-color;

		// Nifty Modal Animation
		perspective: 1300px;
		transition: opacity .3s ease-out;
		opacity: 0;

		&--after-open {
			opacity: 1;

			.ReactModal__Close-btn {
				opacity: 1;
			}
		}

		&--before-close {
			opacity: 0;
			.ReactModal__Close-btn {
				opacity: 0;
			}
		}
	}

	&__Content {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotateX(-60deg);
		min-width: 280px;
		max-width: 500px;

		// Nifty Modal Animation
		transform-style: preserve-3d;
		transform-origin: 50% 0;
		opacity: 0;
		transition: all .3s ease;

		&--after-open {
			opacity: 1;
			transform: translate(-50%, -50%) rotateX(0);
			transform-style: flat;
		}
		&--before-close {
			opacity: 0;transform: translate(-50%, -50%) rotateX(-60deg);
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__Close-btn {
		position: absolute;
    right: 15vw;
    top: 10vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 11px;
		color: $cornflower;
		
		// Nifty Modal Animation
		opacity: 0;
		transition: opacity .3s ease;

		&::after {
			content: '';
			display: block;
			flex-shrink: 0;
			width: 40px;
			height: 40px;
			background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%20fill%3D%22none%22%3E%0A%3Cg%20clip-path%3D%22url%28%23clip0_712_212%29%22%3E%0A%3Cpath%20d%3D%22M40%203.5L36.5%200L20%2016.5L3.5%200L0%203.5L16.5%2020L0%2036.5L3.5%2040L20%2023.5L36.5%2040L40%2036.5L23.5%2020L40%203.5Z%22%20fill%3D%22%236988FF%22%2F%3E%0A%3C%2Fg%3E%0A%3Cdefs%3E%0A%3CclipPath%20id%3D%22clip0_712_212%22%3E%0A%3Crect%20width%3D%2240%22%20height%3D%2240%22%20fill%3D%22white%22%2F%3E%0A%3C%2FclipPath%3E%0A%3C%2Fdefs%3E%0A%3C%2Fsvg%3E');
			background-repeat: no-repeat;
			background-size: cover;

			@media (max-width: 768px) {
				width: 25px;
				height: 25px;
			}
		}

		@media (max-width: 1300px) {
			top: 10vh;
		}
		@media (max-width: 992px) {
			top: 7vh;
			right: 10vw;
		}

		@media (max-width: 768px) {
			bottom: calc(100% + 20px);
			right: 50px;
		}

		@media (max-width: 480px) {
			top: 30px;
			right: 20px;
		}
	}
}