@import '../../../style/vars.scss';


.StrikeBrief {
	display: flex;
	align-items: center;
	column-gap: 7px;

	& > * {
		flex-shrink: 0;
	}

	&__info-card {
		width: 55px;
		text-align: center;
		font-size: 12px;
		background-color: $blue-1;
		border: $border;
		border-radius: 3px;
		white-space: nowrap;
		padding: 0 4px;
	}

	&__price {
		color: $lgrey;
		
		&.hlight {
			color: $white;
		}
	}
}