/* Colors */
$white: #fff;
$white-dimmed: #ccc;
$cornflower: #6988FF;
$green: #46956A;
$red: #C75E4B;
$orange: #D99445;
$lgrey: #747FA6;
$grey: #3A4466;
$dgrey: #384263;
$blue-1: #20224E;
$blue-2: #181A3C;
$blue-3: #141637;
$blue-4: #131531;
$blue-5: #0D0F29;
$blue-helper: #151632;
$bg: #030A21;
$modal-overlay-color: rgba(3, 10, 33, 0.85);


/* Other */
$container-width: 1560px;
$title-font: 'Electrolize', sans-serif;
$common-font: 'Gantari', sans-serif;
$line-height: 130%;
$border-color: rgba(56, 66, 99, 0.25);
$border-dimmed-color: rgba(56, 66, 99, 0.13);
$border: 1px solid $border-color;
$border-dimmed: 1px solid $border-dimmed-color;
$focus-outline: -webkit-focus-ring-color auto 1px;
$shadow: 3px 0 15px rgba(6, 13, 33, 0.4);