@import '../../../style/vars.scss';

.InputFamily {
	background-color: $blue-3;
	border: $border;
	border-radius: 5px;
	cursor: text;
	transition: border-color .2s ease;
	padding: 7px 12px;
	
	input {
		width: 100%;
		font-weight: 400;
	}
	
	&.hlight {
		border-color: $white-dimmed;
	}

	&.disabled {
		&, input {
			cursor: not-allowed;
		}
	}

	&.error {
		border-color: $red;
	}
}