@import '../../../style/vars.scss';

.InnerWarning {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 14px;
	text-align: center;
	color: $grey;
	cursor: default;
	padding: 0 9%;
}