@import '../../../style/vars.scss';


.GlobalStickyMessage {
	position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
	bottom: 0;
	font-weight: 400;
	background-color: $blue-5;
	border-top: $border-dimmed;
	text-align: right;
	white-space: nowrap;
	cursor: default;
	padding: 10px 20px;

	@media (max-width: 576px) {
		font-size: 13px;
		text-align: center;
	}
}